################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Crypto.Binance/bin/Debug
/Crypto.Binance/obj/Debug
/Crypto.Binance/obj
/Crypto.Binance.Client/bin/Debug
/Crypto.Binance.Client/obj
/Crypto.Console/bin/Debug
/Crypto.Console/obj/Debug
/Crypto.Console/obj
/Crypto.Consumer/bin/Debug
/Crypto.Consumer/obj/Debug
/Crypto.Consumer/obj
/Crypto.Domain/bin/Debug
/Crypto.Domain/obj/Debug
/Crypto.Domain/obj
/Crypto.Logging/bin/Debug
/Crypto.Logging/obj/Debug
/Crypto.Logging/obj
/Crypto.MarketData/bin/Debug
/Crypto.MarketData/obj
/Crypto.MarketData.UnitTest/bin/Debug
/Crypto.MarketData.UnitTest/obj
/Crypto.Middleware/bin/Debug
/Crypto.Middleware/obj
/Crypto.OrderBook/bin/Debug
/Crypto.OrderBook/obj
/Crypto.Producer/bin/Debug
/Crypto.Producer/obj
/Crypto.RunTime/bin/Debug
/Crypto.RunTime/obj
/Crypto.Utility/bin/Debug
/Crypto.Utility/obj
/.vs/Crypto.Trading
